@import "colors";
// Your custom styles
a:hover {
  color: $ac-primary;
  text-decoration: none;
  opacity: 0.7;
}
.link-back{
  color: $ac-white;
  padding: 0px 15px;
  font-weight: 400;
}
.title{
  font-weight: 700;
}
.footer{
  height: 60px;
  padding: 18px;
  text-align: center;
  background-color: $ac-dark;
  color: $ac-primary;
}
.secction-view{
  background-color: $ac-dark;
  padding: 150px 0px;
  height: 100%;
}
.media .media-left img {
  box-shadow: none !important;
}
.primary-text{
  color: $ac-primary !important;
}
.navbar.navbar-dark .navbar-toggler-icon {
  background-image: url('../img//menuIcon.png') !important;
  cursor: pointer;
}
.input-bg-dark{
  border-bottom: 1px solid $ac-primary !important;
}
.input-bg-dark:focus{
  box-shadow: 0 1px 0 0 $ac-primary !important;
}
// .md-form label{
//   color: $ac-primary !important;
// }

.input-bg-blue{
  border-bottom: 1px solid $ac-dark !important;
}

.input-bg-blue-invalid {
  border-bottom: 2px solid $ac-danger !important;
}

.input-bg-blue:focus {
  box-shadow: 0 1px 0 0 #262626 !important;
}

.input-bg-blue-invalid:focus {
  box-shadow: 0 0px 0 0 $ac-danger !important;
}

.input-bg-blue-step{
  border-bottom: 1px solid $ac-dark !important;
  width: 100% !important;
}

.input-bg-blue-step-invalid {
  border-bottom: 1px solid $ac-danger !important;
  width: 100% !important;
}

.input-bg-blue-step:focus {
  box-shadow: 0 1px 0 0 $ac-dark !important;
}

.input-bg-blue-step-invalid:focus {
  box-shadow: 0 1px 0 0 $ac-danger !important;
}

.input-bg-blue:focus{
  box-shadow: 0 1px 0 0 $ac-dark !important;
}

//navbar
.navbar {
  box-shadow: none !important;
  font-weight: 300;
}
.link-nav{
  color: $ac-primary;
  padding: 0px 15px;
  font-weight: 400;
}
.divider-vertical-link{
  width: 1.5px;
  height: 16px;
  position: relative;
  top: 4px;
  background: $ac-primary;
}

//Section Plan style
.title-plan{
  font-size: 3.5rem;
  font-weight: 400;
}
.secction-plan{
  background-color: $ac-dark;
  padding: 30px 0px;
}

.section-plan-circle{
  background-color: $ac-primary;
  padding: 40px;
  border: 10px solid $ac-dark;
  border-radius: 100%;
  margin: 50px 0px;
  z-index: 99;
}
.secction-plan-divider{
  width: 75%;
  left: 150px;
  height: 4px;
  background: #5ECAEE;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 50%;
}
.section-preview{
  padding: 0px 80px;
}
.text-spacing-plan{
  margin: 0px 10%;
}
.secction-plan-btn{
  border-radius: 100px;
  width: 150px;
  margin: 0;
  height: 40px;
  padding: 10px 40px;
  background-color: #5ECAEE !important;
  color: #262626;
  font-weight: 700;
  font-size: 14px;
}
.secction-plan-btn:hover{
  border-radius: 100px;
  width: 150px;
  margin: 0;
  height: 40px;
  padding: 10px 40px;
  background-color: #5ECAEE !important;
  color: #262626;
  font-weight: 700;
  font-size: 14px;
}
@media (max-width: 991px) {
  .section-preview{
    padding: 0px 20px;
  }
}
//Carousel plan mobile
.carousel-indicators {
  position: relative !important;
}


// Section Basic Information
.section-information{
  background-color: $ac-primary;
  padding: 100px 0px;
}
// .MuiPaper-root-9 {
//   background-color: transparent !important;
// }

//stepper
.stepper{
  flex-direction: column;
  height: 45vh;
}
.line-stepper{
  width: 5px;
  height: 40vh;
  display: inline;
  background-color: #262626;
  position: absolute;
  left: 57px;
  top: 30px;
}
.circle-active-step{
  background-color: $ac-white;
  height: 90px;
  width: 90px;
  padding: 25px;
  border-radius: 100px;
  box-shadow: 0 7px 19px 0 rgba(0, 0, 0, 0.16), 0 7px 20px 0 rgba(0, 0, 0, 0.12);
  z-index: 999;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.circle-active-step-finish{
  background-color: $ac-dark;
  height: 90px;
  width: 90px;
  padding: 25px;
  border-radius: 100px;
  box-shadow: 0 7px 19px 0 rgba(0, 0, 0, 0.16), 0 7px 20px 0 rgba(0, 0, 0, 0.12);
  z-index: 999;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.circle-step{
  background-color: $ac-primary;
  height: 90px;
  width: 90px;
  padding: 22px;
  border-radius: 100px;
  border: 4px solid $ac-dark;
  box-shadow: 0 7px 19px 0 rgba(0, 0, 0, 0.16), 0 7px 20px 0 rgba(0, 0, 0, 0.12);
  z-index: 999;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.circle-step:hover{
  background-color: $ac-white;
  border: 4px solid $ac-white;
}
.btn-step-2{
  background-color: #5ECAEE !important;
  color: #262626;
  border: 2px solid #262626;
  font-size: 11px;
  height: 35px;
  text-transform: capitalize;
  border-radius: 100px;
  margin: 0px;
  width: 120px;
}
.btn-step{
  border-radius: 100px;
  width: 150px;
  margin: 0;
  height: 40px;
  padding: 5px;
  background-color: $ac-dark !important;
  color: $ac-primary;
  font-weight: 700;
  font-size: 14px;
}
@media (max-width: 576px) {
  .col-xs-btn-step-2{
    width: 50%;
    display: inline-block;
  }
  .btn-step{
    border-radius: 100px;
    width: 45%;
    margin: 0;
    height: 40px;
    padding: 5px;
    background-color: $ac-dark !important;
    color: $ac-primary;
    font-weight: 700;
    font-size: 12px;
  }
}
.link-step-3{
  color: $ac-dark;
  text-decoration: underline;
}
.link-step-3:hover{
  color: $ac-dark;
  opacity: 0.7;
  text-decoration: underline;
}

@media (max-width: 576px) {
  .stepper{
    flex-direction: row;
    height: 15vh;
    margin-top: 25px;
  }
  .line-stepper {
    width: 40vh;
    height: 5px;
    display: inline;
    background-color: #262626;
    position: absolute;
    left: 57px;
    top: 70px;
}
}

//section-comment
.section-comment{
  background-color: $ac-dark;
  padding: 100px 0px;
}
.text-comment{
  color: $ac-primary;
}
.section-blog{
  background-color: $ac-primary;
  padding: 100px 0px;
}
.section-comment-form{
  padding-left: 90px;
}
@media (max-width: 576px) {
  .section-comment-form{
    padding-left: 15px;
  }
}
.section-comment-btn-blue{
  border-radius: 100px;
  width: 150px;
  margin: 0;
  height: 40px;
  padding: 5px;
  background-color: $ac-primary !important;
  color: $ac-dark;
  font-weight: 700;
  font-size: 14px;
}
.section-comment-btn-dark{
  border-radius: 100px;
  width: 150px;
  margin: 0;
  height: 40px;
  padding: 5px;
  background-color: $ac-dark !important;
  color: $ac-primary;
  font-weight: 700;
  font-size: 14px;
  
}
.section-comment-btn-dark:hover{
  color: $ac-primary;
}
//Section Blog
.section-blog-card{
  background-color: $ac-dark;
  color: $ac-white !important;
}
.section-blog-btn-blue{
  border-radius: 100px;
  width: 150px;
  margin: 0;
  height: 40px;
  padding: 11px;
  background-color: $ac-primary !important;
  font-weight: 700;
  font-size: 12px;
}
.title-blog{
  color: $ac-dark !important;
  font-size: 3.5rem;
  font-weight: 400;
}
.title-subscribe-blog{
  color: $ac-dark;
}

//About Us view
.about-bg-half{
  height: 90vh !important;
}
@media (max-width: 576px) {
  .about-bg-half{
    height: 100vh !important;
  }
  .media{
    flex-direction: column;
  }
  .media .media-left img {
    box-shadow: none !important;
    margin-bottom: 55px;
  }
}
.section-about-us{
  background-color: $ac-dark;
  padding: 100px 0px;
  color: $ac-primary;
}
.section-about-description{
  background-color: $ac-primary;
  padding: 100px 0px;
  color: $ac-dark;
}

//FAQ
.about-bg-half-two{
  height: 50vh !important;
}
.section-faq{
  min-height: 45vh;
  background-color: $ac-primary;
  padding: 80px 0px;
}
.btn-collapse{
  background-color: $ac-dark !important;
  color: $ac-primary !important;
  font-size: 22px;
  text-transform: initial;
  border-radius: 10px;
}
.card-collapse{
  background-color: $ac-dark !important;
  text-align: justify;
  font-weight: 600;
  border-top: 2px solid $ac-primary;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  padding: 15px 5px;

}

//Checkbox
.pure-material-checkbox {
  z-index: 0;
  position: relative;
  display: inline-block;
  color: rgba( 0, 0, 0, 0.87);
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 16px;
  line-height: 1.5;
}

/* Input */
.pure-material-checkbox > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.pure-material-checkbox > span {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

/* Box */
.pure-material-checkbox > span::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 3px 11px 3px 1px;
  border: solid 2px; /* Safari */
  border-color: rgba( 0, 0, 0, 0.6);
  border-radius: 2px;
  width: 18px;
  height: 18px;
  vertical-align: top;
  transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.pure-material-checkbox > span::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 1px;
  width: 10px;
  height: 5px;
  border: solid 2px transparent;
  border-right: none;
  border-top: none;
  transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.pure-material-checkbox > input:checked,
.pure-material-checkbox > input:indeterminate {
  background-color:$ac-primary
}

.pure-material-checkbox > input:checked + span::before,
.pure-material-checkbox > input:indeterminate + span::before {
  border-color:$ac-primary;
  background-color:$ac-primary;
}

.pure-material-checkbox > input:checked + span::after,
.pure-material-checkbox > input:indeterminate + span::after {
  border-color:$ac-dark;
}

.pure-material-checkbox > input:indeterminate + span::after {
  border-left: none;
  transform: translate(4px, 3px);
}

/* Hover, Focus */
.pure-material-checkbox:hover > input {
  opacity: 0.04;
}

.pure-material-checkbox > input:focus {
  opacity: 0.12;
}

.pure-material-checkbox:hover > input:focus {
  opacity: 0.16;
}

/* Active */
.pure-material-checkbox > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.pure-material-checkbox > input:active + span::before {
  border-color: $ac-primary;
}

.pure-material-checkbox > input:checked:active + span::before {
  border-color: transparent;
  background-color: rgba( 0, 0, 0, 0.6);
}

/* Disabled */
.pure-material-checkbox > input:disabled {
  opacity: 0;
}

.pure-material-checkbox > input:disabled + span {
  color: rgba( 0, 0, 0, 0.38);
  cursor: initial;
}

.pure-material-checkbox > input:disabled + span::before {
  border-color: currentColor;
}

.pure-material-checkbox > input:checked:disabled + span::before,
.pure-material-checkbox > input:indeterminate:disabled + span::before {
  border-color: transparent;
  background-color: currentColor;
}

//stepper-plan
.step {
  
  padding: 10px;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
  background-color: cream;
}

.v-stepper {
  position: relative;
/*   visibility: visible; */
}


/* regular step */
.step .circle {
  background-color: white;
  border: 3px solid $ac-primary;
  border-radius: 100%;
  width: 90px;    /* +6 for border */
  height: 90px;
  display: inline-block;
  padding: 25px;
  box-shadow: 0 7px 19px 0 rgba(0, 0, 0, 0.16), 0 7px 20px 0 rgba(0, 0, 0, 0.12);
  z-index: 999;
  position: relative
}

.step .line {
    top: 60px;
  left: 43px;
/*   height: 120px; */
  height: 100%;
    
    position: absolute;
    border-left: 5px solid gray;
}

.step.completed .circle {
  visibility: visible;
  background-color: $ac-primary;
  border-color: $ac-primary;
}

.step.completed .line {
  border-left: 5px solid $ac-primary;
}

.step.active .circle {
visibility: visible;
  border-color: rgb(6,150,215);
}

.step.empty .circle {
    visibility: hidden;
}

.step.empty .line {
/*     visibility: hidden; */
/*   height: 150%; */
  top: 0;
  height: 150%;
}


.step:last-child .line {
  border-left: 3px solid white;
  z-index: -1; /* behind the circle to completely hide */
}

.content {
  margin-left: 30px;
  display: inline-block;
  color: $ac-primary;
  font-weight: 600;
  font-size: 12px;
}

.active-category {
  background-color: #262626 !important;
  color: #fff;
}

.view {
  height: 92.4vh;
  background-color: $ac-dark;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.30s;
  -moz-animation-duration:0.30s;
  animation-duration:0.30s;
}

.fade-in.one {
  -webkit-animation-delay: 0.30s;
  -moz-animation-delay: 0.30s;
  animation-delay: 0.30s;
}

.card-component {
  background-color: $ac-dark;
  color: $ac-white;
}

.white-text { 
  color: $ac-white;
}

.message-information {
  position: relative;
  bottom: 26px;
  left: 0px;
  color: #ff3547;
}